body{
    padding: 0;
    margin: 0;
    background: #333;
    font-family: 'Montserrat', sans-serif;
}
.container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: #aaa;
    padding: 50px;
    border-radius: 5px;
    min-width: 400px;
}
h1,h2{
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px
}
h2{
    margin: 20px;
    margin-bottom: -15px
}
a{
    height: 40px;
    width: 150px;
    display: inline-block;
    color: white;
    text-decoration: none;
    /* margin: 0 auto; */
    border-radius: 2px;
    text-align: center;
    line-height: 2.5;
}
#fb{
    background-color: #4267b2;
}
#google{
    background-color: #eee;
    color: black;
    margin-left: 7px;
}

.container input{
    height: 30px;
    width: 95%;
    border-radius: 2px;
    border: none;
    background-color: #eee;
    outline: none;
    font-size: 15px;
    padding: 5px
}

#submit{
    color: #333;
    background-color: #eee;
    margin-top: 30px;
    position: relative;
    left: 240px;
}


/* nav */
nav{
    background-color: #eee;
    position:fixed;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

nav a{
    color: #333;
    margin-right: 10px; 
}