<html>
<head>
	<title>Medical App</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1><center>Login To Use Services!</center>
</h1>
<div class="row">
  <div class="col-sm-4" style="height: 500px;background: rgb(102, 255, 255)">
  	<h3><center>Existing Users</center></h3>
  	<form action="/userLogin" class="inline">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block" style="top: 250px;left:180px;position: absolute;" >Login Here!</button>
  </div>
  <div class="col-sm-4" style="height: 500px;background: rgb(0, 153, 153)">
  	<h3><center>Existing Clients</center></h3>
    <form action="/clientLogin" class="inline">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block" style="top: 250px;left:180px;position: absolute;" >Login Here!</button>
</form>
  </div>
  <div class="col-sm-4" style="height: 500px;background: rgb(102, 255, 255)">
  	<h3><center>New Here? Signup Here!</center>
  	</h3>
      <form action="/userSignup" class="inline">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block" style="top: 250px;left:180px;position: absolute;" >User Signup!</button>
    <form action="/clientSignup" class="inline">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block" style="top: 300px;left: 180px;position: absolute;">Client Signup!</button>
  </div>
</div>
</body>
</html>