<!DOCTYPE html>
<html>
<head>
	<title>Client Home Page</title>
	<style type="text/css">
		#logout{
			top:50px;
			right:10px;
		}
	</style>
</head>
<body>
<h1><center>Enter Your Details</center></h1>>
<a id="logout" href="/userLogout">LOGOUT</a>
<form action="/userSignup" method="POST">
	<input type="text" placeholder="Enter Your Name" name="drivername">
	<input type="text" placeholder="Ambulance Number" name="number">
	<input type="text" placeholder="Phone Number" name="phone">
	<button>Submit</button>
</form>
</body>
</html>>


var ambulanceSchema=new mongoose.Schema({
	driverName:String,
	ambulanceNumber:String,
	phoneNumber:String
	loginId:String
});
var ambulance=new mongoose.model("ambulance",ambulanceSchema);

var userId=req.user.username;